<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Developers - Selenium Labs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-screen h-screen bg-gray-600">
<div class="flex flex-col w-full h-full">

    <nav class="flex-none h-12 flex p-4 bg-black items-center">
        <a th:href="${(#mvc.url('HC#home')).build()}" class="font-medium text-white">@mcruzdev</a>
    </nav>

    <main class="flex flex-1 flex-col items-center justify-center">
        <div
                class="max-w-md mx-auto mt-8">
            <form action="#" th:action="@{/authenticate}" method="POST"
                  class="shadow-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4  w-80">
                <div class="mb-4 w-full">
                    <label class="block text-sm font-bold mb-2 text-white" for="username">
                        Username
                    </label>
                    <input id="username"
                           name="username"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           type="text" placeholder="Username"/>
                </div>
                <div class="mb-4 w-full">
                    <label class="block text-sm font-bold mb-2 text-white" for="password">
                        Password
                    </label>
                    <input
                            id="password"
                            name="password"
                            class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                            type="password" placeholder="Password"/>
                    <span th:if="${param.error}"
                          class="text-rose-500 text-sm w-full">
                    Invalid username or password
                </span>
                </div>
                <button class="bg-red-600 rounded-sm p-2 text-white text-center w-full hover:bg-red-700" type="submit">
                    Submit
                </button>
                <div class="text-center mt-4">
                    <p class="text-sm text-white">There is no account?</p>
                    <a class="text-sm text-blue-300 cursor-pointer hover:text-blue-400" th:href="@{/register}">Register
                        here</a>
                </div>
            </form>
        </div>
    </main>
</div>
</body>
</html>