<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Developers - Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-screen h-screen bg-gray-600">
<div class="flex flex-col w-full h-full">

    <nav class="flex-none h-12 flex p-4 bg-black items-center">
        <a th:href="${(#mvc.url('HC#home')).build()}" class="font-medium text-white">Developers</a>
    </nav>

    <main class="flex flex-1 flex-col items-center justify-center">
        <div
                class="max-w-md mx-auto mt-8">
            <!--/*@thymesVar id="user" type="tech.ada.lms.dto.User"*/-->
            <form action="#" th:action="@{/register}" method="POST" th:object="${user}"
                  class="shadow-gray-700 shadow-md rounded px-8 pt-6 pb-8 mb-4  w-80">
                <div class="mb-4 w-full">
                    <label class="block text-sm font-bold mb-2 text-white" for="firstName">
                        First name
                    </label>
                    <input th:field="*{firstName}"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           th:classappend="${#fields.hasErrors('firstName')} ? 'border-2 border-red-500' : ''"
                           id="firstName" type="text" placeholder="John">
                    <span class="text-rose-500 text-sm w-full" th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}"></span>
                </div>
                <div class="mb-4 w-full">
                    <label class="block text-sm font-bold mb-2 text-white" for="lastName">
                        Last name
                    </label>
                    <input th:field="*{lastName}"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           th:classappend="${#fields.hasErrors('lastName')} ? 'border-2 border-red-500' : ''"
                           id="lastName"
                           type="text"
                           placeholder="Doe"
                    >
                    <span class="text-rose-500 text-sm w-full" th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}"></span>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-bold mb-2 text-white" for="email">
                        Email
                    </label>
                    <input th:field="*{email}"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           th:classappend="${#fields.hasErrors('email')} ? 'border-2 border-red-500' : ''"
                           id="email" type="text" placeholder="john.doe@email.com" name="email">
                    <span class="text-rose-500 text-sm w-full" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></span>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-bold mb-2 text-white" for="username">
                        Username
                    </label>
                    <input th:field="*{username}"
                           th:classappend="${#fields.hasErrors('username')} ? 'border-2 border-red-500' : ''"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           id="username" type="text" placeholder="johndoe">
                    <span class="text-rose-500 text-sm w-full" th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"></span>

                </div>
                <div class="mb-4">
                    <label class="block text-sm font-bold mb-2 text-white" for="password">
                        Password
                    </label>
                    <input th:field="*{password}"
                           th:classappend="${#fields.hasErrors('password')} ? 'border-2 border-red-500' : ''"
                           class="bg-gray-800 rounded-sm p-2 text-white focus:outline-none focus-visible:outline-none w-full"
                           id="password" type="password" name="password">
                    <span class="text-rose-500 text-sm w-full" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></span>

                </div>
                <div class="text-center">
                    <a th:href="@{/login}" class="text-sm text-blue-300 cursor-pointer hover:text-blue-400">Back to
                        login</a>
                </div>
                <button id="register" type="submit"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full mt-6">
                    Register
                </button>
            </form>
        </div>
    </main>
</div>
</body>
</html>